@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
}

p,
span {
  font-family: $secondary-font-regular, sans-serif;
}

h1,
h2,
h3 {
  font-family: $primary-font-black, serif;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.app-container {
  margin-top: 56px;
  padding-top: $space-xm / 2;
}

.app-login-container {
  width: 100%;

  @media (min-width: $screen-lg-min) {
    width: 500px;
  }
}

.button-dark {
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
}

.button-light {
  background-color: $secondary-color;
  border: none;
  color: $primary-color;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
}

.button-transparent-light {
  background-color: transparent;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

.primary-button {
  font-family: $secondary-font-medium, sans-serif;
  margin-bottom: $space-sm;
  padding: $space-xm;
  width: 100%;
}

.delete-section-button {
  background-color: transparent;
  border: 1px solid $primary-color-1;
  color: $primary-color-1;
  font-family: $secondary-font-medium, sans-serif;
  margin-bottom: $space-sm;
  padding: $space-xm;
  width: 100%;
}

.input-light {
  border: 1px solid $primary-color-2;
  font-family: $secondary-font-light, sans-serif;
  margin-bottom: $space-sm;
  padding: $space-xm 0 $space-xm $space-xm;
  width: 95%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  width: 100%;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
