@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
}

p,
span {
  font-family: $secondary-font-regular, sans-serif;
}

h1,
h2,
h3 {
  font-family: $primary-font-black, serif;
}

a {
  color: $primary-color-0;
  text-decoration: none;
}

.app-container {
  margin-top: 63px;
  padding-top: $space-xm / 2;
}

.app-login {
  background-color: red;
  width: 300px;
}
