.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header-logo {
  padding: $space-sm;
  width: 40px;

  @media (min-width: $screen-lg-min) {
    margin: $space-sm * 2 $space-xl * 3 0 0;
    width: 80px;
  }
}

.header-title {
  border-bottom: 0.5px solid $grey;
  font-size: $font-sm;
  margin-left: $space-sm;
  padding-bottom: $font-sm / 2;
  width: 80%;

  @media (min-width: $screen-sm-min) {
    font-size: $font-lg;
    margin-left: $space-xl * 3;
    padding-bottom: $font-sm;
    width: 60%;
  }
}

.header-title-back {
  border-bottom: 0.5px solid $secondary-color;
  color: $secondary-color;
  cursor: pointer;
  font-size: $font-sm;
  margin-left: $space-sm;
  padding-bottom: $font-sm / 2;
  width: 80%;

  @media (min-width: $screen-sm-min) {
    font-size: $font-lg;
    margin-left: $space-xl * 3;
    padding-bottom: $font-sm;
    width: 60%;
  }
}

.header-title-back-icon {
  cursor: pointer;
  margin-right: 10px;
  width: 10px;
}

.header-signin-container {
  text-align: right;
}

.header-signing {
  padding: $space-sm;
  width: 50px;

  @media (min-width: $screen-lg-min) {
    margin: $space-sm * 2 $space-xl * 3 0 0;
    width: 80px;
  }
}

.header-menu-body {
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  text-align: center;
  top: 60px;
  width: 100%;
  z-index: 100;

  @media (min-width: $screen-lg-min) {
    width: 35%;
  }
}
