.header-container {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;

  @media (min-width: $screen-lg-min) {
    width: 35%;
  }
}

.header-logo {
  margin: $space-xm / 2 $space-xm;
  width: 44px;
}

.header-back {
  margin: $space-xm $space-xm;
  width: 20px;
}

.header-title {
  margin-top: $space-md;
}

.header-menu {
  margin: $space-md $space-xm 0 0;
  width: 30px;
}

.header-menu-body {
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  text-align: center;
  top: 60px;
  width: 100%;
  z-index: 100;

  @media (min-width: $screen-lg-min) {
    width: 35%;
  }
}
