.section-list-container {
  padding: $space-xm;
  width: 100%;

  @media (min-width: $screen-lg-min) {
    width: 35%;
  }
}

.section-create-container {
  @media (min-width: $screen-lg-min) {
    width: 100%;
  }
}

.section-create-container-detail {
  @media (min-width: $screen-lg-min) {
    padding: 0 $space-xl 0 $space-md;
  }
}

.section-desktop-flex {
  display: flex;
}

.section-desktop-right {
  display: none;

  @media (min-width: $screen-lg-min) {
    display: inherit;
    margin-top: -63px;
    height: 100vh;
    right: 0;
    position: fixed;
    width: 65%;
  }
}

.section-desktop-left {
  width: 100%;
  @media (min-width: $screen-lg-min) {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
}

.section-desktop-right-image {
  height: 100vh;
}

.section-desktop-right-text {
  color: $secondary-color;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.section-desktop-list-scroll {
  @media (min-width: $screen-lg-min) {
    height: 85vh;
    overflow: scroll;
    padding: $space-md;
  }
}

.section-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: $space-md;
  padding-bottom: $space-xm;
  width: 100%;

  @media (min-width: $screen-lg-min) {
    width: 95%;
  }
}

.section-card-image {
  width: 100%;
}

.section-title {
  font-size: $font-xl;
  color: $primary-color-0;

  @media (min-width: $screen-lg-min) {
    font-size: $font-xxl;
  }
}

.section-text {
  font-size: $font-md;
}

.section-card-text-container {
  margin: $space-md;

  @media (min-width: $screen-lg-min) {
    margin: $space-lg $space-xl;
  }
}

.section-detail-text-container {
  padding: 0 $space-xm;
  @media (min-width: $screen-lg-min) {
    padding: 0 $space-xl * 2;
  }
}

.section-card-text-title {
  color: $primary-color-0;
  font-size: $font-lg;
  @media (min-width: $screen-lg-min) {
    font-size: $font-xl;
  }
}

.section-card-text {
  font-size: $font-md;
  @media (min-width: $screen-lg-min) {
    font-size: $font-lg;
  }
}

// Section hero

.section-button-flex {
  display: flex;
  margin: $space-lg 0;
}

.section-hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.section-hero-image {
  width: 100%;
}

.section-hero-tag-container {
  text-align: center;
}

.section-hero-tag {
  font-size: $font-lg;
  padding: 0 $space-md;

  @media (min-width: $screen-lg-min) {
    font-size: $font-xl;
  }
}

.section-hero-subtag {
  font-size: $font-md;
  @media (min-width: $screen-lg-min) {
    font-size: $font-lg;
  }
}

.section-hero-disclaimer {
  margin-top: 50px;
}

// Subsection

.section-sub-create {
  background-color: $primary-color;
  color: $secondary-color;
  padding: $space-xm;

  @media (min-width: $screen-lg-min) {
    margin: $space-xl * 2 0;
  }
}

.section-sub-create-title {
  color: white;
  font-size: $font-lg;
  @media (min-width: $screen-lg-min) {
    font-size: $font-xl;
  }
}

.section-sub-container {
  width: 100%;

  @media (min-width: $screen-lg-min) {
    display: flex;
    width: inherit;
  }
}

.section-sub-type-container {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  justify-content: space-between;
  padding: $space-md $space-xm;
}

.section-sub-textType-container {
  padding: 0 $space-xm;
}

.section-sub-container-menu {
  display: none;

  @media (min-width: $screen-lg-min) {
    display: inherit;
    height: 90vh;
    margin-top: $space-md;
    padding-left: 16px;
    overflow-y: scroll;
    position: static;
    width: 34%;
  }
}

.section-sub-container-content {
  padding-bottom: $space-xl;
  @media (min-width: $screen-lg-min) {
    background-color: $primary-color-2;
    overflow-y: scroll;
    position: static;
    margin-top: -63px;
    height: 100vh;
    width: 65%;
  }
}

.section-sub-create-icon {
  @media (min-width: $screen-lg-min) {
    height: 80px;
  }
}

.section-sub-item {
  margin-top: $space-md;
}
