.section-tagline {
  width: 95%;
  margin: $space-md 0;

  @media (min-width: $screen-sm-min) {
    width: 80%;
    margin: $space-lg 0 $space-xl * 2 0;
  }
}

.section-admin-buttons {
  margin: $space-sm $space-sm $space-sm 0;
  width: 60px;

  @media (min-width: $screen-lg-min) {
    margin: $space-md $space-lg $space-lg 0;
    width: 120px;
  }
}

.section-create-container {
  width: 100%;
  @media (min-width: $screen-lg-min) {
    width: 800px;
  }
}

.section-list-container {
  width: 100%;

  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-card {
  margin-bottom: $space-xl;
  @media (min-width: $screen-sm-min) {
    margin-right: $space-xl;
    width: 80%;
  }
  @media (min-width: $screen-xl-min) {
    width: 40%;
  }
}

.section-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

  @media (min-width: $screen-lg-min) {
    height: 300px;
  }
}

.section-text-container {
  padding-right: $space-sm;
}

.section-title {
  font-family: $primary-font-bold;
  font-size: $font-lg * 1.2;
  color: $greyDark;

  @media (min-width: $screen-lg-min) {
    font-size: $font-xxl;
  }
}

.section-text {
  font-size: $font-lg;
  font-family: $secondary-font-light;

  @media (min-width: $screen-lg-min) {
    font-size: $font-xl * 0.8;
  }
}

.section-button-flex {
  display: flex;
  flex-direction: column;
  margin: $space-sm 0;

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
    margin: $space-lg 0;
  }
}

.section-drag-container {
  border: 3px solid $secondary-color;
  display: flex;
  flex-direction: column-reverse;

  padding: $space-md;
  margin: $space-sm 0;
  @media (min-width: $screen-md-min) {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}

.section-drag-drop-icon {
  height: 60px;
  @media (min-width: $screen-md-min) {
    height: 80px;
  }
}

.section-drag-drop-title {
  color: $greyDark;
  font-family: $secondary-font-medium;
  text-align: center;
  font-size: $font-md;
  @media (min-width: $screen-md-min) {
    font-size: $font-lg;
    padding-right: $space-md;
    text-align: left;
  }
  @media (min-width: $screen-lg-min) {
    font-size: $font-xl;
  }
}

.section-detail-text-container {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: 90%;
  }
}
// review

// .section-card-title {
//   font-family: $primary-font-black, serif;
//   color: $primary-color-0;
//   font-size: $font-lg;
//   @media (min-width: $screen-lg-min) {
//     font-size: $font-xl;
//   }
// }

// .section-card-text {
//   font-size: $font-md;
//   @media (min-width: $screen-lg-min) {
//     font-size: $font-lg;
//   }
// }

// .section-desktop-right {
//   display: none;

//   @media (min-width: $screen-lg-min) {
//     display: inherit;
//     margin-top: -63px;
//     height: 100vh;
//     right: 0;
//     position: fixed;
//     width: 65%;
//   }
// }

// .section-desktop-left {
//   width: 100%;
//   @media (min-width: $screen-lg-min) {
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 12%;
//     transform: translate(-50%, -50%);
//     width: 300px;
//   }
// }

// .section-desktop-right-image {
//   height: 100vh;
// }

// .section-desktop-right-text {
//   color: $secondary-color;
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   text-align: center;
//   transform: translate(-50%, -50%);
// }

// .section-card-text-container {
//   margin: $space-md;

//   @media (min-width: $screen-lg-min) {
//     margin: $space-lg $space-xl;
//   }
// }

// .section-detail-text-container {
//   padding: 0;
//   @media (min-width: $screen-lg-min) {
//     padding: 0 $space-xl * 4 0 0;
//   }
// }
