.section-list-container {
  padding: $space-xm;
}

.section-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: $space-md;
  padding-bottom: $space-xm;
  width: 100%;
}

.section-card-image {
  width: 100%;
}

.section-card-text-container {
  margin: $space-md;
}
