// Font One

$primary-font-black: PlayfairDisplay-Black;
$primary-font-bold: PlayfairDisplay-Bold;
$primary-font-regular: PlayfairDisplay-Regular;
$primary-font-italic: PlayfairDisplay-Italic;

// Font Two

$secondary-font-bold: Rajdhani-Bold;
$secondary-font-medium: Rajdhani-Medium;
$secondary-font-regular: Rajdhani-Regular;
$secondary-font-light: Rajdhani-Light;

// Colors

$primary-color: #93499e;
$secondary-color: #ffffff;

// Specific colors

$primary-color-0: #606060;
$primary-color-1: #d8d8d8;
$primary-color-2: #f2f2f2;
$secondary-color-0: #9eba80;

$alert-color: #9b0a0a;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
// Large tablets and desktops
$screen-xxl-min: 1600px;

// texts size 1200

$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

// spaces

$space-xm: 0.7rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
